<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@attach(title)</title>
    <meta name="description" content="@attach(desc)">

    <!-- Meta Graph -->
    <meta property="og:title" content="@attach(title, Kanvas Hilmanski)">
    <meta property="og:description" content="@attach(desc, Kanvas Hilmanski)">
    <meta property="og:image" content="@attach(image,https://labs.hilman.space/assets/images/socialcard.jpg)">
    <meta property="og:url" content="https://kanvas.hilman.space">

    <!-- Meta Twitter -->
    <meta name="twitter:title" content="@attach(title) ">
    <meta name="twitter:description" content="@attach(desc)">
    <meta name="twitter:image" content="@attach(image,https://kanvas.hilman.space/assets/images/socialcard.jpg)">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    @attach(content)
</body>
</html>
